[2019-06-30 15:12] dependabot-preview[bot] opened #12 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-07-09 18:21] #12 closed

[2019-09-27 13:43] baruchiro opened #21 "Ping"
Is this project alive?

I would like to do a similar project.

[2020-04-01 21:24] brafdlog commented on #21
Sorry for missing this issue.
This project is alive, I am currently maintaining it on my own in my spare time.
Would love for other devs who are interested to join in.

[2020-04-26 19:50] guyklein opened #24 "Run error when following initial setup"
After running the initial setup steps - I get a "Cannot find module './categoryCalculationScript'" error.
the "categoryCalculationScript.js" file is in the .gitignore.
is it possible the categoryCalculationScript-example.js file was supposed to be part of the git repository but is not?

[2020-04-26 19:53] #24 closed

[2020-04-26 20:54] #21 closed

[2020-04-26 20:56] brafdlog commented on #24
You should copy the `categoryCalculationScript-example.js` file to create a `categoryCalculationScript.js` file with your own category calculation logic. See the initial setup section in the README.

[2020-04-27 12:45] guyklein commented on #24
Yeah... Saw it a minute too late :).
Thanks.

[2020-04-29 16:34] guyklein opened #26 "ynab is initialized even if it is not active in the config"
[https://github.com/brafdlog/budget-tracking/pull/27](https://github.com/brafdlog/budget-tracking/pull/27)

[2020-04-29 17:15] guyklein opened #29 "Financial companies select is displayed incorrectly"
[https://github.com/brafdlog/budget-tracking/pull/28](https://github.com/brafdlog/budget-tracking/pull/28)

[2020-04-29 19:11] #26 closed

[2020-04-29 19:12] brafdlog commented on #26
Merged your PR that fixes this

[2020-04-30 04:58] #29 closed

[2020-05-01 20:25] brafdlog opened #30 "Improve the ui of the financial accounts config and make it handle the different financial institution credentials correctly"
The current financial account config looks terrible. So one thing is to make it look better - perhaps a card per financial institution?
In addition, this config only supports username and password, but there are many financial institutions that have different credentials (see [here](https://github.com/eshaham/israeli-bank-scrapers#specific-definitions-per-scraper)).

The config component should su

[2020-05-05 22:25] brafdlog opened #31 "Take category classification logic from a json instead of code and expose it in the configuration screen"
Currently the logic for classifying a transaction relies on the `categoryCalculationScript.js`.
Most of the logic there is matching patterns of descriptions to patterns or exact matches.
In order to make this easily configurable by the user, we want to move this logic to a json configuration that will contain the list of patterns and exact matches.
After this is taken from the json, expose a ui fo

[2020-05-05 22:40] brafdlog opened #32 "Authenticate with google sheets with oauth installed application flow instead of service flow"
The current authentication with google sheets is through a service account.

This is far from ideal because it requires an annoying process and because it requires a scope (`auth/spreadsheets`) that grants much more access than what we actually need.

Instead we should implement the [oauth installed application flow](https://developers.google.com/identity/protocols/oauth2#installed) and probably u

[2020-05-05 22:53] brafdlog opened #33 "Connect to YNAB through Oauth and not with api key"
Current integration with YNAB is through their api key.

This process is annoying to set up and is less natural than the oauth flow that was built for this.

So we should set up the oauth integration with ynab and expose it in the ui of the config screen.

See [YNAB docs](https://api.youneedabudget.com/#outh-applications)

[2020-05-05 22:58] brafdlog opened #34 "Make the category classification logic learn and improve over time"
The simplest implementation for this is to fetch periodically from YNAB/Google sheets the mapping from transaction description to category and save this locally. Then use this for classifying future transactions with the same description.

An alternative implementation is to expose in the ui the transactions that are about to sent to the vendor and allow the user to classify them inside our app. T

[2020-05-05 23:00] brafdlog opened #35 "Add tests for the main node flows"
Writing tests for the main flows can be pretty easy if we mock the code that fetches transactions from the financial institutions and mock the code that sends the transactions to ynab/google sheets.
Can also use the csv exporter in tests since it requires no setup

[2020-05-05 23:01] brafdlog opened #36 "Setup a ci pipline - probably github actions"
CI should currently run tests.

In the future can also package the application for installation

[2020-05-05 23:03] brafdlog opened #37 "Simplify the electron / react / webpack setup"
The current setup is an overkill.

We need a simple setup of electron + react + webpack and also typescript (which can be added separately) .

So we can reduce allot of the boilerplate code.

[2020-05-05 23:04] brafdlog opened #38 "Switch library code to typescript"

[2020-05-05 23:05] brafdlog opened #39 "Allow passing the user's own encryption key for encryption the financial institution credentials"
Currently the encryption key is hard coded. Ideally each user/installation would have his own encryption key.

[2020-05-05 23:08] brafdlog opened #40 "Replace the existing advanced configuration json with ui components"
The current json textarea was a quick and dirty solution to allow changing the config.
We want to allow users to change the configuration in a clear ui.
So, instead of the json text area we want to have ui components that allow setting all the configurations.

[2020-05-05 23:10] brafdlog opened #41 "Show a clear ui status while scraping"
The user should see clear feedback about what is currently happening.

Something like the icons of the accounts being scraped and next to each an indication of the status (perhaps with an icon) pending, in progress with loader, done.

[2020-05-05 23:12] brafdlog opened #42 "Add a retry mechanism for scraping failure"
Since scraping is a very integrative process it can fail from many causes. Instead of making the user retry himself, it would be good if there was a retry mechanism in the code that would retry x times if the scraping failed.

[2020-05-05 23:13] brafdlog opened #43 "Make the app installable"
Make the build process create an installer for mac/windows linux and do the needed adjustments to make it work as an installed app (as opposed to now just being run as a yarn script from the development environment.

[2020-05-05 23:16] brafdlog opened #44 "Add to the README a demo video of the scraping and the result in google sheets"
Make a short video showing scraping and automatic update of google sheets. Also worth showing the resulting report.

Add this video to the README

[2020-05-11 22:06] brafdlog opened #45 "test"

[2020-05-11 22:07] #45 closed

[2020-05-11 22:12] brafdlog commented on #40
@udielenberg Do you think exposing everything will make the config page too bloated? If so we may hide some under an advanced or additional configuration.
WDYT?

[2020-05-28 14:08] baruchiro opened #46 "Seperate the categories from the logic"
To avoid rename the `app/node/categoryCalculationScript-example.js` when starting to work with the project, and to prepare this project to be installable, we need first to get the categories mapping from an outer file.

In this way, we also can create a global configuration file that will hold many business names, and use it by default, unless the user want to derive or ignore it.

[2020-05-28 14:52] baruchiro opened #47 "Get financial list from 'israeli-bank-scrapers'"
The `FINANCIAL_COMPANIES_CONFIG` in `app/web/constants/financialCompaniesConfig.js` should be generated from the source list in the [`israeli-bank-scrapers`](https://github.com/eshaham/israeli-bank-scrapers/blob/master/src/definitions.js).

Now, if we want to enhance this list with logo and so on, we need to assign the additional info to the existed list, and handle default values when we did not

[2020-05-29 07:49] brafdlog commented on #46
Thats true. There is an existing issue for that #31

[2020-05-29 07:50] #46 closed

[2020-05-29 07:52] brafdlog commented on #47
Great idea

[2020-05-29 08:10] brafdlog commented on #47
This can also be used for implementing the ui of the authentication fields for each account type dynamically

[2020-06-05 12:15] brafdlog opened #51 "Merge with the israeli-bank-scrapers-desktop repo"
Project for issues we want to handle pre merge: https://github.com/brafdlog/budget-tracking/projects/4

Related issues:
- [x] Make the configManage use the crypto module and remove hard coded encryption key
- [x] Make the node code expose an api as defined [here](https://miro.com/app/board/iXjVOf3EJUs=)
- [x] Update the electron UI flow to work with two main flows - configure, run scraping as defi

[2020-06-05 15:18] baruchiro commented on #51
Note that the folder `nuxt` contains the [Github Pages](https://baruchiro.github.io/israeli-bank-scrapers-desktop/), do you want to keep it?

I think the regular users need a beautiful webpage in Hebrew, with a big download button and help content.

But if you want to rethink that, maybe to use another technology...

[2020-06-05 15:35] baruchiro commented on #51
About the file structure, I already started to reorg the project in https://github.com/baruchiro/israeli-bank-scrapers-desktop/pull/247, but it is not important, since I think the most of my code will move to BudgetTrackingApp, or just gone, and the rest of the code is the `components` folder.

[2020-06-05 20:00] brafdlog commented on #51
Regarding the githup pages, you mean you wanted to use something else instead?

I am fine with removing it.

[2020-06-05 20:25] brafdlog commented on #51
Ok, I updated the todo to be to remove the code that is no longer relevant when the ui starts using the budget tracking code.

[2020-06-05 20:35] brafdlog commented on #30
Irrelevant after merging israeli-bank-scrapers-desktop repo (#50)

[2020-06-05 20:35] #30 closed

[2020-06-05 20:38] brafdlog commented on #40
Irrelevant after merging israeli-bank-scrapers-desktop repo (#50)

[2020-06-05 20:38] #40 closed

[2020-06-05 20:40] brafdlog commented on #47
Irrelevant after merging israeli-bank-scrapers-desktop repo (#50)

[2020-06-05 20:40] #47 closed

[2020-06-05 20:41] brafdlog commented on #37
Irrelevant after merging israeli-bank-scrapers-desktop repo (#50)

[2020-06-05 20:41] #37 closed

[2020-06-14 07:20] brafdlog commented on #31
@baruchiro I updated the description, please take a look and see what you think.

[2020-06-26 07:25] baruchiro opened #57 "The consistent naming convention in the repo is camelCase for directories and files"
The consistent naming convention in the repo is camelCase for directories and files so I would rename:

`config-manager` -> `configManager`
`default-config` -> `defaultConfig`

_Originally posted by @brafdlog in https://github.com/brafdlog/budget-tracking/pull/54#issuecomment-643321496_

I think the Vue part is not full compatible with this rule. But also need to think maybe in Vue the convention

[2020-07-15 15:27] baruchiro commented on #51
About the Vue `vuex-persist`, I choose this way to save the `state` from the *Vuex* state manager to `configManager`, each time the state changes.

I think using the `configManager` itself in any place in the app is not a good way because in this way the config is not reactive.

The limitation of the `vuex-persist` way is that it act as a "side effect". I mean, if there is a problem when saving th

[2020-07-16 05:35] antmir opened #61 "Some cards don't use username field"
Isracard and amex use id and not username. so you have to manually add those configurations. also, because of the check in
BankScraper.scrape (!credentials.username) user need to add a "dummy" username field as well

  id: <user identification number>,
  card6Digits: <6 last digits of card>
  password: <user password>

[2020-07-16 06:27] brafdlog commented on #61
Welcome to the project :)

We are currently working on a major pr #50 that will merge the `israeli-bank-scrapers-desktop` repo into this project and will include significant changes to the ui including the handling of different credentials field per financial institution.

I will leave this issue open until that PR is merged.

In the mean time if you want to contribute I suggest creating prs based

[2020-07-16 06:34] brafdlog commented on #57
Thats true. Since they suggest either kebab-case or PascalCase for view components, and the rest of the code is camel case how about we use PascalCase for the components and camelCase for the rest?

[2020-07-17 07:30] brafdlog commented on #51
But why do we need it to persist? We have the persisted state in the filesystem managed by the config manager, and we have the state in memory in the store that is the reflection of what is in the filesystem. Why do we need another layer of persistent state?
The app works with the state that is in the store so any change in the config in the store will cause the app to react. If we have a side eff

[2020-07-17 07:33] brafdlog commented on #51
I think that is ok as long as if there is an error in persisting the config we show the error. This is basically optimistic UI which is quite a common pattern - the ui works as if the backend update succeeded even before it knows if it did, and if there was an error it shows it when it happens.

[2020-07-17 07:34] brafdlog commented on #51
If in case of an error we refetch the data from the configManager (and show an error) we will only have a short time of inconsistent state

[2020-07-17 14:43] baruchiro commented on #51
I added *Show error when `vuex-persist` failed, and re-fetch the config* task to this issue, because as I said, saving the config by `vuex-persist` is not in the main flow- it working in the background, so we need to register a callback or something.

(I wrote it under *TODOs*, but you can drag it to the other sections, it's very cool 🎉)

[2020-08-30 04:42] baruchiro commented on #51
@brafdlog I created a new branch called [cleanIndex](https://github.com/brafdlog/budget-tracking/tree/cleanIndex), but it turns to be a very large change, so I leaving it, but I'm sharing with you what I learned.

I want to remove all the code from the root `index.ts`, to get a clear list about what the backend exporting. I have three (or more) points:

1. Move all the code from `index.ts` to sepa

[2020-08-30 07:17] brafdlog commented on #51
I general I agree. For these types of things I suggest opening and issue and linking it to here so it will be easier to follow.

Next week I will have more time and one of the things I plan is to organize the open issues in a clearer way so we have a clearer view about where things stand and what are the open issues.

[2020-08-30 07:27] baruchiro commented on #51
My suggestion is to create a new "board" for "pre-merge" issues.

[2020-09-07 10:49] brafdlog opened #82 "Remove irrelevant code of original repositories once the ui and the node code work together"

[2020-09-07 10:49] brafdlog opened #83 "Add ui for configuring exporters"

[2020-09-07 10:51] brafdlog opened #84 "Make the google sheets exporter in the library code work with the oauth flow"

[2020-09-07 10:51] brafdlog commented on #84
Related to #83

[2020-09-07 10:52] brafdlog opened #85 "Update the readme and add to it the setup flow for the app from scratch"
- Update the readme
- Document in Readme the up to date flow of setting up the app from scratch with importers and exporters

[2020-09-07 10:52] brafdlog opened #86 "Show error when vuex-persist failed, and re-fetch the config"

[2020-09-07 10:53] brafdlog opened #87 "Remove the Contributors part or hide it in a Menu"

[2020-09-07 12:06] brafdlog commented on #51
@baruchiro I opened a project for the pre merge issues: https://github.com/brafdlog/budget-tracking/projects/4 and removed them from the description here.

Regarding the Todo's in the code, I suggest you open tickets for the ones you think we should handle and remove the ones we don't. We can sync on this if needed.

[2020-09-07 12:09] brafdlog opened #89 "Pass only the relevant part of the config to internal functions"
Pass sub-config to internal functions instead of the whole config. The functions should get only the relevant config, for example, the **export** function should get only the `outputVendors` part from the `Config`.

[2020-09-07 12:15] brafdlog opened #90 "Break the lib index file into separate files for the major parts of the flow"
Original comment:
I want to remove all the code from the root `index.ts`, to get a clear list about what the backend exporting. I have three (or more) points:

Move all the code from `index.ts` to separate files in a logical order. The **export** functionality should be in its file, the same with the **import** functionality, and the method that takes from **import** to **export** in another file.

[2020-09-07 12:16] brafdlog commented on #51
Opened issues for 1 and 2:
#89
#90

Regarding 3 its a matter of taste, we can discuss.

[2020-09-07 18:19] brafdlog opened #93 "Limit imports from vue code to be only from the index of the originalBudgetTrackingApp"
I'm trying to think about a way to force us to import only from `originalBudgetTrackingApp` and not from any `originalBudgetTrackingApp/*` when we are on the FrontEnd code.

Maybe this:
https://eslint.org/docs/rules/no-restricted-imports
Just keep in your mind

_Originally posted by @baruchiro in https://github.com/brafdlog/budget-tracking/pull/91#issuecomment-688368819_

[2020-09-11 12:49] baruchiro opened #98 "Organize the code"
Rename the `originalBudgetTrackingApp` to `library` (or whatever) and move all `Vue`/Fronend related code to `ui` folder or whatever.

Then I think you can create another folder for `tools` like your YNAB helper. (It's not mean that this issue is assigned to @brafdlog)

[2020-09-15 14:20] #57 closed

[2020-09-15 14:23] #90 closed

[2020-09-15 14:24] #89 closed

[2020-09-15 14:29] #38 closed

[2020-09-15 14:29] #36 closed

[2020-09-15 14:34] brafdlog commented on #51
@baruchiro

The current library code already exposes the config manager and the `scrapeAndUpdateOutputVendors` so I think we are good on that.

We did implement those main flows except for the configuration of the category logic for which we have an issue - #31

So I am marking those two as done

[2020-09-15 14:55] brafdlog opened #101 "Show the progress of the import and export process"
Create a ui that conveys clearly the current status of importing/exporting.

This will have two parts:

1. An accounts state in the ui code that gets updated by listening to events.
2. A component showing each account and its current status.

[2020-09-15 15:04] brafdlog opened #102 "Redesign the app"
After we have a working MVP it would be a good time to stop and think what we want the UI/UX of the app to be.

Take into account:

- Configuring importers
  - YNAB setup
  - Google sheets setup
- Configuring exporters
- Global configuration (like show browser)
- Import and export progress indication
- Category management  and rules for automatically assigning transactions to categories
- Report a

[2020-09-15 17:12] baruchiro opened #103 "Use repo name and URL from package.config"
Instead of using the `budget-tracking` or `https://github.com/brafdlog/budget-tracking` in many places in the log, we need to declare them once and use the variable all over the code.

It can be implemented by Webpack `DefinePlugin` or `import { name } from 'package.json`.

[2020-09-15 17:55] baruchiro opened #104 "Splash Screen"
Because we are using [`vuex-persist`](https://www.npmjs.com/package/vuex-persist), and it loads the `config` asynchronicity, the app can't load until the store is loaded, so we have a *Splash Screen* (currently just a text "SPLASH").

We need to create more beautiful or just loading spinner, or use Vue `Suspense` feature (don't know if it supported in Vue2)

[2020-09-15 22:13] brafdlog opened #105 "Improve error handling and event emitting in case of error"
Currently every error during the import or export process makes the whole process fail. In addition, there are cases where multiple error events will be emitted for the same error.
We need to decide on a consistent way to handle errors. Probably don't want to crash the whole process because one importer or exporter fail but we do want to indicate the failure clearly to the user

[2020-09-16 17:44] baruchiro commented on #105
I think the type of the `scrapeAndUpdateOutputVendors` return value is also related to this issue, because this type is actually a map from *Exporter Name* to *Exporter Results*, and after you organize the internal flow, you can define a unified result type.

[2020-09-25 17:39] brafdlog opened #109 "Implement an exporter for excel file (csv?) that will be enabled by default with zero configuration needed"
All our current exporters require configuration (except for json that will probably not be useful for the common person).
Having a valuable exporter that works out of the box is important because it gives immediate value and will reduce the chance that people will give up during the initial setup to the complexity of it.
So, we can should create a new exporter that exports to an excel file (csv? x

[2020-09-25 17:41] brafdlog commented on #109
@baruchiro thoughts?

[2020-09-26 18:17] baruchiro commented on #109
Sounds good, no questions. I also thought about export to some calculated excels like [אקסולידית](https://docs.google.com/spreadsheets/d/1bWIhiY4sfykoMSOeypKFTayon3ARkOju8qsJrsEdLdw) or [פעמונים](https://www.paamonim.org/wp-content/uploads/2020/04/%D7%A8%D7%99%D7%A9%D7%95%D7%9E%D7%99%D7%AA-%D7%91%D7%90%D7%A7%D7%A1%D7%9C-230420.xlsx)

[2020-10-06 15:36] baruchiro opened #111 "Handle cases of no exporters, importers or transactions"
- [ ] Are we should run if no importers defined? (For example, to test the exporters)
- [ ] Are we should export if no transactions fetched (empty array)?
- [ ] Are we should throw or ignore or event not start to import if no exporters?

[2020-10-06 19:11] brafdlog commented on #111
- I don't think we should run without importers. It doesn't make much sense. Tests flows should probably mock the importers config and results.
- If there are no transactions there is nothing to export so I don't see why we should run the exporters.
- Running without exporters also doesn't make much sense. Long term I think we should have a wizard for empty state - initial setup. Short term, we ca

[2020-10-07 06:03] baruchiro commented on #111
Fine, I opened this issue because currently, we don't handle these cases

[2020-10-07 10:44] #83 closed

[2020-10-13 05:12] baruchiro opened #113 "Add the Log Level to the BudgetTrackingEvent itself"
I think it would be cleaner to add the level to the BudgetTrackingEvent itself, setting it by default to INFO and having error set it to ERROR. Then you won't need this class and can use the event publisher directly.

In the current implementation you don't have access to the full api of the emitter which is useful (see comment about the option to set the status by listening to events)

_Originall

[2020-11-01 14:53] Moshet opened #114 "Implement an update flow for the app (see auto-update)"
Syncing with the main Israeli Bank Scrapers project updates will provide a better experience for the user and eliminate the need to update the software manually.

[2020-11-01 14:55] Moshet opened #115 "Newsletter for new features updates, etc."

[2020-11-01 14:59] Moshet opened #116 "Exporting data to a Google Spreadsheet to allow automations"
Exporting data to a Google Spreadsheet to allow automations - can be exported on demand (and be filtered by dates and/or cards/categories) AND on a regular basis, when new transaction appears. This will provide an opportunity for further automations, such as emails.

[2020-11-01 15:48] baruchiro commented on #114
I don't know how to implement that, but another option is to alert the user that there is an update to the software.

[2020-11-01 15:50] baruchiro commented on #116
We are working to export to Google Spreadsheet in the new version on `unifyRepos` branch.

[2020-11-01 17:43] brafdlog commented on #114
Syncing with the Israeli bank scrapers prohject means updating the version of their library.
So what I understand from what you say is that you would like to see an easy update flow. Is that what you mean?

[2020-11-01 20:40] brafdlog commented on #115
Thanks for the feedback.

We first need to have a product out and used by people. At that stage a newsletter could be very relevant.

For now I am closing this issue since we have a long way to go before this will be high priority.

[2020-11-01 20:40] #115 closed

[2020-11-01 20:45] brafdlog commented on #116
Closing this as there are already issues for it #84 #32

[2020-11-01 20:45] #116 closed

[2020-11-02 23:23] giladtaase commented on #87
Are you going to keep the top menu of the app window? If you do, maybe we can add the credits under "Help/About".

[2020-11-03 07:43] baruchiro commented on #87
In general, we are planning to re-think the whole UI.
So please do not take any current UI decisions as long term decisions.

But my suggestion is to think about **components**.
Even if we are thinking to change the UI, we still can decide if we want an **area** for "About", so you can start to create this "area" as **component** and put it somewhere. After the UI change, we will just put it in an

[2020-11-03 08:02] giladtaase commented on #87
Sure I can remove.
I don't know electron yet, but my guess is that the top menus are not part of the web content. So if we decide to keep the menus and add the info there, there's no point in creating a web component.

[2020-11-03 08:17] brafdlog commented on #87
@giladtaase welcome 🙂

As @baruchiro wrote this ui will undergo a significant change.

Currently our main goal is to have a functioning app that we can merge and release as a beta version. We will iterate on further improvements after we have a working version.

Since this a small chunk of ui that would be easy to create again in a newer design, I think we should just remove it at this stage.

[2020-11-03 08:19] giladtaase commented on #87
No problem I'll remove it.

[2020-11-08 07:43] giladtaase commented on #109
I can take this

[2020-11-08 19:59] giladtaase commented on #109
So excel or CSV? I'd say CSV because it give almost the same value for Excel users, but is also useful for other products.

[2020-11-09 04:48] baruchiro commented on #109
Of course, you are right, the intention is CSV.

On Sun, Nov 8, 2020, 21:59 giladtaase <notifications@github.com> wrote:

[2020-11-09 18:52] baruchiro opened #120 "Sheets Exporter: Support new Spreadsheet, new sheet, exists data"
After merging #118, need to validate the exporting to Google Spreadsheets code, includes

- [ ] Create a new Spreadsheet by name.
- [ ] Create a new sheet by const name.
- [ ] Read existed data from the sheet and merge with the new data.

[2020-11-10 22:46] giladtaase commented on #109
Ok I got the basics working but I have a few clarifications I need
1) Should we support merging of existing data like the JSON exporter does?
2) Do we want to put a header line with field names?
3) I just separated the values with commas, but then thought I'll need to escape them if the values themselves have commas, and found out there's no unique standard for this. Is there maybe a popular libra

[2020-11-11 05:07] baruchiro commented on #109
1. I think so, let's keep it work in the same way.
2. You can either add a checkbox to the frontend to decide about the header line. If you don't want, I think we should use the header line. Worst case, even if we didn't use the checkbox, I hope most programs will accept this file have a checkbox for the input 😉
3. I used [`json2csv`](https://www.npmjs.com/package/json2csv) somewhere in other soft

[2020-11-17 12:12] baruchiro commented on #120
On second thought, creating a new Spreadsheet by name should be implemented in the UI context, since we have two different areas in the app- the config editor (the UI) and the scraping that gets the config and doing the job.

If we are putting a new spreadsheet name in the config, then passing the config as an argument to the scraping, the scraping will create a new spreadsheet, but the config sti

[2020-11-19 14:42] baruchiro opened #125 "Errors when "upgrading" the app and reading a config that is from an old version"
When we are working with the `config` read and write, we are assuming that the loaded config is in the correct schema, because it saved by us or loaded from the default schema.

But if you adding a new Exporter, for example, it will cause an error since the exporter in the config is not `nullable`, but because it is a new exporter, it does not exist in the existed config.

Also, if you think the a

[2020-12-11 10:18] giladtaase opened #131 "Make installation of app work on windows"
When I try to install by running israeli-bank-scrapers-desktop Setup 0.1.3-beta.exe of unifyRepos, either by building from code or by taking the artifacts from github, it gets stuck on "Installing, please wait".
I was not yet able to find where the log files are.

![image](https://user-images.githubusercontent.com/943999/101891583-e9ec7900-3baa-11eb-9ba6-d724c298616b.png)

[2020-12-13 15:00] brafdlog commented on #131
@baruchiro I don't have a windows pc at the moment. Can you take a look?

[2020-12-13 15:10] #87 closed

[2020-12-15 09:45] brafdlog opened #134 "Add storybook for easier component development"
https://storybook.js.org/docs/vue/get-started/introduction

[2020-12-15 09:48] baruchiro commented on #134
I think Storybook is unmercenary before you have a designer and a lot of components...

I think it is a lower priority. For now, you just need to put buttons, checkboxes, etc' in a specific directory and use them all over the app.

[2020-12-15 15:29] brafdlog opened #136 "Change to hebrew and switch to direction to RTL"

[2020-12-15 15:31] baruchiro commented on #131
I added to the board, to check that before the merge.

Otherwise I will take that some day in future

[2020-12-15 19:50] brafdlog opened #137 "Add an icon for opening each exporter results"
For each type of exporter, add an icon that when clicked will open the relevant exporter

- Csv and json will open the file
- Ynab will open the ynab website in the correct url in the default browser
- Sheets will open the google sheet we are exporting to in the default browser

[2020-12-16 07:21] brafdlog opened #140 "Choose a name for the app and update the code"
Choose a name for the app and update the code to that name.

Related discussion #139

[2020-12-17 11:30] brafdlog opened #141 "Define and implement a flow for sending logs to us in case of an error"
A user should be able to send us the logs in case he faces an error.

- [ ] Make the logger write to a file
- [ ] Verify there is a global exception handler that logs exceptions
- [ ] Add to the readme a description of how to send logs (either manual or automatic)
- [ ] Make sure we printing things to the log alongside the UI (scraping events, for example)
- [ ] Make sure we are re-assigning the c

[2020-12-17 11:44] #109 closed

[2020-12-17 11:46] brafdlog commented on #41
Duplicate of #101

[2020-12-17 11:46] #41 closed

[2020-12-17 11:50] brafdlog opened #142 "Create a clear UX for users installing the app for the first time"
A user installing the app for the first time should be nudged in the right direction to start the setup.

A future version of this can be a setup wizard.

The first version of this should be an empty state for when we don't have exporters/importers configured. This can simply be an image or a big button with a call to action to setup the first importer/exporter.

[2020-12-17 11:51] brafdlog commented on #111
This is a subset of the first time flow. Created an issue for that: #111

[2020-12-17 11:51] #111 closed

[2020-12-17 12:07] brafdlog opened #143 "Implement a new Figma design"
Currently there is a left panel and right panel for the importers/exporters and the configuration width is very limited. This makes the flow of editing configuration not user friendly.

The configuration of each importer/exporter should open in a popup modal that is large enough to edit the configuration comfortably.

Perhaps we should use this to replace the left/right panel ui with the ui curren

[2020-12-17 12:23] brafdlog opened #145 "Add analytics tracking to the app"
Add basic analytics so we know how many users are using the app and how often

[2020-12-17 12:24] brafdlog opened #146 "Create a landing page for the app"
Create a landing page with a basic explanation and a link to download the app

[2020-12-17 12:28] brafdlog opened #147 "Integrate sentry to get notified about user errors"

[2020-12-17 13:42] brafdlog commented on #114
Updating the israeli-bank-scrapers versions requires updating the code. So I changed this to a more generic issue of implementing the flow of updating the app.

This also relates to #125

[2020-12-17 14:31] brafdlog commented on #82
@baruchiro Are you aware of any more redundant code we didn't remove?

I am closing this and if you are will reopen

[2020-12-17 14:31] #82 closed

[2020-12-17 16:52] brafdlog opened #149 "Implement code signing so users won't get a warning when installing the apl"
https://www.electron.build/code-signing

[2020-12-18 10:10] baruchiro commented on #137
Good idea!

[2020-12-20 12:25] brafdlog opened #150 "When trying to setup google sheets in the installed application there is an error "No 'clientId' or 'clientSecret' for google login"
To reproduce:

- Download the build artifact for windows
- Install and run it
- Click on google sheets exporter config
- Click login to google

Expected result - being able to login to google and setup the google sheets integration

Actual - Getting an error of no 'clientId' or 'clientSecret' for google login

[2020-12-20 13:10] baruchiro commented on #150
I left a comment somewhere that you need to configure those secrets in the Github Repository Secrets, according to the Github Actions.

If you need help I will help you later.

[2020-12-20 15:37] brafdlog commented on #150
Added the secrets. Solved

[2020-12-20 15:37] #150 closed

[2020-12-21 10:19] baruchiro commented on #141
Also

 - Make sure we printing things to the log alongside the UI (scraping events, for example)

[2020-12-21 10:25] baruchiro commented on #111
I don't think it exactly the same...

We still handle the case when the use (even accidentally) disabled all the exporters (or importers, if they can be enabled/disabled)

(BTW you referred to the current 111 issue.)

[2020-12-21 10:29] baruchiro commented on #143
Do you expect this to be combined with the statuses block in #135, right?

I think it is a good and easy improvement, and that is why we can consider to implement it even before we are consulting with a UX expert.

[2020-12-21 11:44] baruchiro commented on #145
Is it can be done with Sentry #147?

[2020-12-21 11:50] baruchiro commented on #146
Please take a look at the `nuxt` folder, with the old landing page- https://baruchiro.github.io/israeli-bank-scrapers-desktop/

[2020-12-21 11:51] baruchiro commented on #145
Also, we need to add analytics to landing page #146, to know the relation between users exposed to our app and users that chose to download it.

[2020-12-21 11:58] baruchiro commented on #114
Please think about "multi-branch" upgrades.

Imagine a user that wants to check the update before he installing it (I think in our app, that accessing the bank passwords, can be happened).
Maybe the user doesn't want new features until he validates them, but meantime, if the `israeli-bank-scrapers` have changed, we want to push their change quickly, even without other features.

[2020-12-21 13:24] baruchiro commented on #131
@brafdlog Do we want to test the Linux installation?

If so, please open another issue or just add to this.

Reference: https://github.com/baruchiro/israeli-bank-scrapers-desktop/issues/14

[2020-12-21 13:27] baruchiro commented on #150
@brafdlog There is another thing, also similar to #149. We need to do some configurations in the Google console to remove the warning about "Untrusted app" when logging in with google.

[2020-12-21 13:28] brafdlog commented on #150
The changes i made in the last pr (reducing the scopes we use) should solve this

[2020-12-21 13:30] giladtaase commented on #131
@baruchiro Are you working on this one? I can look into it if you give me some initial pointers (code location, enabling installation logs).

[2020-12-21 14:23] baruchiro commented on #131
I'm not working on it right now.
I don't know how to debug it. You need to know that we are using `electronBuilder`, and its configuration is [here](https://github.com/brafdlog/budget-tracking/blob/bba24ee5c7b8cad41ae34b1a23f3a40b90208520/vue.config.js#L21-L62).

The [vue-cli-plugin-electron-builder](https://nklayman.github.io/vue-cli-plugin-electron-builder/) is taking these config and actually r

[2020-12-21 14:59] giladtaase commented on #131
Great thanks, I'll try to take it from here.

[2020-12-21 15:40] baruchiro commented on #131
@giladtaase  You may assign yourself.

[2020-12-21 15:58] baruchiro commented on #146
I collected some FAQ to share with the users:

 - למה לא רואים פירוט אשראי?
   פירוט אשראי מגיע מאתר האשראי, ופירוט העובר ושב מגיע מאתר הבנק. לא ניתן לקבל נתוני פירוט אשראי ע"י פרטי הכניסה לאתר הבנק.
 - כמה זמן אמור לקחת לייבוא הנתונים?
 לא הרבה (צריך למדוד). במידה והסיסמה שגויה דווקא ייקח לו מעט יותר זמן לגלות זאת. בכל מקרה במידה ויש בעיה מומלץ לסמן את הכפתור של הצגת הדפדפן ולבדוק באיזה שלב בגליש

[2020-12-21 16:04] baruchiro opened #152 "Set user password instead of using keytar"
(I think the link to the [Chrome](https://chromium.googlesource.com/chromium/src/+/master/docs/security/faq.md#Why-arent-physically_local-attacks-in-Chromes-threat-model) blog is interesting and really important)

[2020-12-21 16:19] baruchiro commented on #143
There is a request from old users the validate the importer when it added. https://github.com/baruchiro/israeli-bank-scrapers-desktop/issues/56

I'm putting it here to think if we want to handle it with this issue, or to open an issue after this finished.

[2020-12-21 17:23] Moshet commented on #143
I can assist with planning a user friendly UX

[2020-12-21 20:14] giladtaase commented on #131
@baruchiro I'm not sure that I have permission to assign. At least, I can't find where to to do.
Why did you link to https://github.com/baruchiro/israeli-bank-scrapers-desktop/issues/99, do you think it's related? Or did you mean to link it to #152?

[2020-12-21 20:40] baruchiro commented on #131
Maybe only collaborators can be assigned

[2020-12-21 21:37] giladtaase commented on #131
You can certainly assign to me, I cannot assign to myself. Probably, any collaborators can assign anything.Anyone, I cannot reproduce the issue now. I'll try tomorrow on the same environment where I first reproduced it.

[2020-12-22 12:37] brafdlog opened #153 "Basic notification to users"
I think we need a simple way to notify users when we want to send them a message.

You need that before you're developing an "auto-update" or something, to let them know that they need to download a new version, or that something is broken because of something else...

I think the simple way is to create a Markdown file in this repo with the message, and requesting it from the app. If the cached f

[2020-12-22 13:29] brafdlog opened #154 "Make the ci of master publish a release and have a download link we can use"
In order to publish the app to people we need to have a downloadable link.

For that we would like the ci of the master branch to publish a release to latest so we can have a link that always points to the latest artifact for installing the app.

[2020-12-22 13:57] baruchiro commented on #154
Why? You have a really good Releases feature here in Github.

See in my old project: https://github.com/baruchiro/israeli-bank-scrapers-desktop/releases

There is also a very simple API:

https://github.com/baruchiro/israeli-bank-scrapers-desktop/blob/d6e3c9a803dd2cc53898e56da6a051044a8459fe/nuxt/components/DownloadButton.vue#L102-L125

The code is a little complicated because I wanted to get the

[2020-12-22 14:08] brafdlog commented on #154
Cool. So we need to set that up. Updating the description

[2020-12-22 14:17] baruchiro commented on #154
OK, please talk to me before you're taking this task.
This process should be already implemented.
It's also implemented semi-automatic by Electron-Builder. See [`.github/workflows/release.yml`](https://github.com/brafdlog/budget-tracking/blob/unifyRepos/.github/workflows/release.yml)

[2020-12-22 14:57] brafdlog opened #155 "In CSV and JSON exporter settings use a ui file picker instead of text field to choose where to save the file"

[2020-12-22 17:35] baruchiro commented on #143
@Moshet AMAZING!

You're welcome to download and install the application and give us feedback.

To download, for now until we will have a release (soon!), select the latest action from this link:
https://github.com/brafdlog/budget-tracking/actions?query=workflow%3ABuild%2FRelease+branch%3AunifyRepos
And after entering the item, you will find `artifacts` on the bottom, download the right one depend

[2020-12-22 17:37] baruchiro commented on #104
On second thought, need to check if the Splash screen has a real effect. For now, when I'm running from the development env, most of the time before the app loaded is also before the SplashScreen. So Splash screen in that case will be worst than nothing.

[2020-12-22 18:39] #101 closed

[2020-12-22 18:39] #98 closed

[2020-12-22 19:18] #51 closed

[2020-12-22 19:49] baruchiro commented on #84
@brafdlog Can be closed?

[2020-12-22 20:00] #84 closed

[2020-12-22 20:39] baruchiro opened #166 "Exporter is ready even it invalid"
https://github.com/brafdlog/budget-tracking/blob/457c7f82fa8f26f055fb79462ec6e75cc47187af/src/ui/components/app/exporters/exportersCommon.ts#L14

Try to open the `JsonExporter` and clear the textBox. Click outside the textBox and you will see the button is enabled, even the form should be invalid.

The first step is to fix the line above to be `const readyToSave = computed(() => validated.value &&

[2020-12-23 17:08] #120 closed

[2020-12-23 20:06] baruchiro commented on #141
OK, I refreshed my memory about our logging infrastructure.

We have two tools, [`electron-log`](https://www.npmjs.com/package/electron-log) and *Sentry*.
When I'm thinking about logging implementation, I'm very careful about sending all the logs automatically and do whatever we want, because I don't want to accidentally send sensitive information.

For now, the practice is logging to a local file

[2020-12-23 20:19] #166 closed

[2020-12-24 12:23] baruchiro opened #170 "Bug: ENOTDIR, not a directory"
This is a bug report from the app interface.
- [ ] Open in this repo (currently opened in the old one)
- [ ] Typo in the title
- [ ] Add OS and App version to the bug report

## Detailes

I installed the app, then I configured my bank accounts.
After that, I configured the JsonExporter to the full path: `C:\Users\BaruchR\source\repos\transactions\data\transactions.json` and the SheetsExporter I co

[2020-12-24 13:06] baruchiro commented on #170
Update, maybe another bug:

![image](https://user-images.githubusercontent.com/17686879/103090350-778f8600-45f9-11eb-8e7e-847f69c94c92.png)

There is an error with `leumi` but no "alert" sign in לאומי

[2020-12-24 13:08] baruchiro commented on #170
This is about ChromeDownloader, I'm pretty sure.

[2020-12-24 20:57] baruchiro commented on #170
@brafdlog We are using `ChromeDownloader` during the `scrape` method, and it's mean that it will run for each bank account.
In the first run, it will try to download the Chromium driver multiple times in parallel. I think it downloads to a temp location, then copy to the target, and there it getting an error.

https://github.com/juliangruber/download-chromium/blob/c5bf61eb9186914008614bf30d2d07dc4

[2020-12-24 21:31] baruchiro opened #171 "Unexpected behaviour when scraping in parallel and one account failed."
I wanted to ask you to return the `executionResult` from the promise, instead of updating the `executionResults` from the closure.

But in that case, if one of the promises will fail, you will not get any result, even from the successes promises.

Anyway, have you tried [`Promise.allSettled()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/allSettled)? I

[2020-12-25 13:10] baruchiro opened #173 "The config is reset after updating the app"
I think after installing an app upgrade (by downloading a new artifact, on Windows), the config is reset.

Maybe it is the location we are saving the config. I think we need to save it in `electron.app.getPath('userData')`

[2020-12-28 11:41] Moshet commented on #143
I downloaded the software and I'll begin with the operational stuff:
1. What's the purpose of the upper horizontal menu?
2. I couldn't get any info scraped.
2. A. On the first attempt, I was just waiting and nothing happened (therefore I think it's better to add some kind of active status bar that communicates what happens now instead of a spinning circle - actually two circles, which is also unne

[2020-12-28 12:29] brafdlog opened #175 "Create a privacy policy for the app"
Create a privacy policy explaining that the data is saved locally and not send to any servers except for analytics tracking that has no personal info and tracks only metadata like how many times the process was run, on which importers/exporters etc.

Link to this privacy policy from the app itself and the readme.

[2020-12-28 12:37] brafdlog commented on #141
Sounds good.

How about overriding console log (https://github.com/megahertz/electron-log#overriding-consolelog) so the code can just use conosle.log and it will work

[2020-12-28 17:40] baruchiro commented on #173
Consider using global var as described in https://github.com/brafdlog/budget-tracking/pull/172#issuecomment-751802270

[2020-12-28 18:33] baruchiro commented on #170
Reopen- still want to fix the user report problem.

[2020-12-28 19:20] baruchiro commented on #141
I remembering this feature, but I didn't use it, maybe it not worked?

Anyway, I thought about that again, and maybe we want to keep it without the `console.log`. In that way, you can still debug with `console.log`, but `eslint` will catch you 8f you accidentally committed a dummy log write.

[2020-12-30 08:38] brafdlog commented on #143
Thanks!

Regarding the issues you have, I would like to understand the problem. There is an issue: #170 for the ENOTDIR. @baruchiro This should work in the latest version right? So @Moshet you can try downloading the latest version and see if there are still issues. If there are could you open an issue with how to reporuce?

Regarding the design and ux I just did a session with a designer that con

[2020-12-31 12:31] #145 closed

[2021-01-02 19:48] Moshet commented on #143
@brafdlog, I tried downloading again and the ENOTDIR error is still there. Maybe someone forgot to upload the newer version?

Regarding the UI - Looks great! I'd go for a greenish color which is more money related.
Also good to see that we thought about a similar UX flow:) However, I'd go for a "less clicks"-design which is more similar to what I proposed.
I.e. the user is entering the app, so it'

[2021-01-02 20:14] baruchiro commented on #143
Hi, @Moshet I'm working on it, we need to wait for #178 to finish. And please note I updated the link to the artifacts (https://github.com/brafdlog/budget-tracking/actions?query=workflow%3ABuild%2FRelease+branch%3Amaster)

[2021-01-02 21:13] #170 closed

[2021-01-02 21:52] dangourary opened #179 "Yarn start doesn't work"
`D:\Repos\budget-tracking>yarn start
yarn run v1.22.5
error Command "start" not found.
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.
`

[2021-01-03 06:30] baruchiro commented on #179
Hi, welcome to the project!

Sorry, the `README.md` file is outdated, we are working on it in #177.

To run this project you need to first run `yarn` to install the dependencies, and then run `yarn serve` to run the app.

For the next time you get to a *JavaScript*/*TypeScript* project, you will know that you can look at a file called `package.json` and see what commands (scripts) exist:

https://

[2021-01-03 06:30] #179 closed

[2021-01-05 16:33] Moshet opened #181 "CSV file export doesn't work"
Is there a default directory in which it should be saved?
Entering my own directory didn't work.

[2021-01-05 18:47] baruchiro commented on #181
Hi, can you please share the directory you entered?

Please just copy & paste the value from there to here, thanks!

[2021-01-05 19:57] Moshet commented on #181
C:\Users\Dell\Downloads\transaction.csv

[2021-01-06 06:14] baruchiro commented on #181
And what do you mean "didn't works"?

Are you getting an error message?

Is the scraping is done but you can't find the transaction file?

[2021-01-06 07:58] Moshet commented on #181
No error message and no file, but scraping seems to be done successfully. Tried a few directories.
Also, the "default" directory looks like "..\transaction.csv" which is strange

[2021-01-06 08:54] baruchiro commented on #181
I have to tell you that I have not yet run the software from the installable artifact, because I'm still working on solving its problems.
Next time I hope it will work and I will check this issue.

[2021-01-08 11:24] dangourary opened #183 "Feature Request: support CLI commands"
Please expose scraper and exporter using to a command line interface.

[2021-01-08 13:46] baruchiro commented on #183
Sure, I also want it, but it will take a time.

Currently our focus is to publish for regular users. But when we taking desicions, we are also thinking about the future with CLI.

You are welcome to join to the project, if you want to help or if you want to expose a CLI, it is not so hard.

[2021-01-11 17:49] baruchiro commented on #181
It will be like that until #155

[2021-01-17 07:23] #173 closed

[2021-01-17 20:16] baruchiro commented on #86
Asked for help- https://github.com/championswimmer/vuex-persist/issues/217

[2021-02-03 19:11] baruchiro opened #191 "Transaction hash contain "undefined" as string"
If one of the properties is `undefined`, the hash string will contain `"undefined"` as a string. For example: `"2020-04-21T21:00:00.000Z_-1234.56_‏בני דרום מושב שיתופ(י)_undefined_mizrahi_123-123456"`

https://github.com/brafdlog/budget-tracking/blob/928929b72d6b24471a76ca7470f84cde8f12952f/src/backend/transactions/transactions.ts#L11-L15

Is this expected?

Need to discuss before changing.

[2021-02-04 11:26] baruchiro commented on #43
@brafdlog  I think it already implemented, I prefer to close it, and during the milestones, when we will work with the Releases, we will try the installable and open a bug if needed.

[2021-02-04 11:27] baruchiro commented on #39
I think it the same as #152

[2021-02-04 11:29] baruchiro commented on #152
Hey, it is [good-first-issue](https://github.com/brafdlog/budget-tracking/labels/good%20first%20issue), but it is important to discuss how do you plan to implement it before you start to.

[2021-02-04 11:29] baruchiro commented on #32
@brafdlog Is is done, right?

[2021-02-05 19:15] brafdlog commented on #191
Not very pretty.
But I don't think it makes much of a difference because this hash a value for the internal use of the system.
I am fine with fixing and fine with leaving as is.
One thing to note is that fixing this will cause these transactions to be created again.
Not a bug issue at this stage with the current level of usage

[2021-02-05 20:52] #32 closed

[2021-02-05 20:53] #39 closed

[2021-02-05 20:54] #43 closed

[2021-02-06 17:15] baruchiro commented on #191
OK, I suggest to postpone this, and maybe reopen it someday.

We have others with more priority.

[2021-02-06 18:02] baruchiro commented on #140
I think the real work is by #103

@brafdlog I suggest changing the repo name. Don't worry, Github will redirect the old URL to the new one for a time.

[2021-02-06 18:03] baruchiro commented on #103
Please also update with the new name: "Hiuvi".

See #140 and https://github.com/brafdlog/budget-tracking/discussions/139#discussioncomment-343082

[2021-02-07 05:44] baruchiro commented on #141
Consider using a different logger for `background.ts` and `main.ts`, see https://github.com/megahertz/electron-log/issues/244.

[2021-02-07 18:25] #171 closed

[2021-02-10 07:23] baruchiro commented on #103
https://github.com/brafdlog/budget-tracking/blob/e9e3159981fa67c7b97f74a013e609f23f61efa8/src/ui/components/App.vue#L53

https://github.com/brafdlog/budget-tracking/blob/e9e3159981fa67c7b97f74a013e609f23f61efa8/src/main.ts#L33

https://github.com/brafdlog/budget-tracking/blob/e9e3159981fa67c7b97f74a013e609f23f61efa8/src/ui/components/App.vue#L10

[2021-02-10 20:26] Moshet commented on #181
Just tried the up to date version:

1. There's no default directory at all now (shows only "transaction.csv"), but better than the previous "..\transaction.csv". Maybe better add a "browse" button?
2. When I paste a directory and click "save" - nothing happens ("save" is clicked but no file is saved in the directory)
3. What is the purpose of the "active" checkbox in the CSV file export menu? It d

[2021-02-16 18:17] baruchiro commented on #140
Also, of course, the repo path in the `package.json` should be updated.

[2021-02-16 18:35] MordRot commented on #140
And app name in: `globals.js`

[2021-02-25 19:41] baruchiro opened #194 "Orgnize exports from Backend"
- [ ] The `backend/index.ts` should include (in my opinion) only `import`s and `export`s, without function implementation.
- [ ] With that, I think also we need to export short list of objects, with all the methods with them (for example, export `Config` with `Config.loadConfig` and `Config.saveConfig`.

https://github.com/brafdlog/budget-tracking/blob/fc70a7bc08d6f711ac3d59fac213ec064df07529/src/

[2021-03-05 10:01] baruchiro commented on #181
@Moshet Sorry for the very late answer. It was on my to-do list for a long time, but I need to answer you even if I don't have answers to all your questions.

1. Yes, we need to work on it, see #155.
2. I need to check this.
3. The purpose of "active" is to select, from all the exporters, which exporter you want to be used when you click on "Run".

[2021-03-05 12:59] baruchiro opened #198 "Error boundary for the Vue components"
Note, this catching only the `UnhandledRejection`.

At least for the Vue part, we need to open a new issue to catch exceptions during the render process (I even can't say what exactly happened during such case. For in React, for example, the component tree will crash- if you're not using error boundary)

_Originally posted by @baruchiro in https://github.com/brafdlog/budget-tracking/pull/193#r5882

[2021-03-10 18:10] baruchiro opened #200 "Show chrome downloading progress"
During the first run, the app will download the [Chrome Driver](https://chromedriver.chromium.org/) before the scraping.

There is no "progress" for that, you may think something is stuck.

Need to show a progress indicator.

[2021-03-10 18:13] baruchiro commented on #181
@Moshet About paste a directory, we need to add validation. But I think the better is to focus on #155 to solve both.

[2021-03-18 11:26] baruchiro commented on #181
About 2, trying to save to directory, for me it gives me an error.
Closing this issue, please let me know if there is something else.

[2021-03-18 11:26] #181 closed

[2021-03-18 11:27] #191 closed

[2021-03-18 11:29] baruchiro commented on #131
@giladtaase It working on my Windows without any problem.

[2021-03-18 11:29] #131 closed

[2021-03-18 11:30] baruchiro commented on #85
@brafdlog Closing this. When we will find something else to add to the README, we will just change it or open a new issue

[2021-03-18 11:30] #85 closed

[2021-03-19 14:12] baruchiro commented on #140
@brafdlog Please change the repo name.
Don't worry, it will redirect the current URL to the new one for some time. (AFAIK)

[2021-03-19 14:14] baruchiro commented on #61
@antmir It is working now. I'm using Isracard and everything is good.

[2021-03-19 14:14] #61 closed

[2021-03-22 05:41] #200 closed

[2021-04-04 19:12] baruchiro commented on #42
I will check more in-depth later, but for now, I see two options:

1. Use **Enable/Disable** state for *importers* like we have for *exporters*.
2. Add a **retry button** on the *importer* status (in the middle of the screen).

I think option 2 is more **user-friendly**, since the scraping, by definition, is not stable so you need to retry one of the *importers* in many cases.

But this option is

[2021-05-06 15:20] #141 closed

[2021-05-28 14:34] baruchiro opened #247 "Support hash changes and migrations"
Today, after `israeli-bank-scrapers` [fixed the Leumi scraper](https://github.com/eshaham/israeli-bank-scrapers/pull/565), I ran the application again, and I got duplicated transactions in my *Json* and *Google Sheets*.

After checking it I found at least two changes:

1. In my salary transactions, in the `memo`, there is one char changed: ' => `
2. The date of the transaction changed from `2021-0

[2021-05-28 15:09] baruchiro opened #248 "[Bug] UI state is not good after error in exporter"
Steps to reproduce:

1. Set a not-existing directory for the CSV path.
2. Add YNAB exporter (you don't need to configure it)
3. RUN
4. Expect for error message about `no such file or directory`.
5. Click outside the error to back to the main view.

Now you may see the YNAB reporter is still loading, forever.

Also, the Importers are without the success/failed sign.

![image](https://user-images.gi

[2021-06-01 18:06] baruchiro commented on #247
We discussed about that before:

https://github.com/brafdlog/hiuvi/pull/112#discussion_r502927769

[2021-06-01 18:37] baruchiro commented on #247
OK, first, the hash can't be recalculated, because it includes `companyId` but it doesn't added to the `EnrichedTransaction`:

https://github.com/brafdlog/hiuvi/blob/bb92beafc31a8685d583e353b1d45392f6a0ba97/src/backend/import/importTransactions.ts#L126-L136

[2021-06-05 21:14] baaraak commented on #155
Hi
I started to work on this issue and I have some questions about how should I continue this...
Work in progress:
https://github.com/baaraak/hiuvi/commit/ddafbbb1975fb4313cf0ac3cb04de17e3cd37a9f
![Screen Shot 2021-06-05 at 22 23 41](https://user-images.githubusercontent.com/16448454/120903159-3346ee00-c64d-11eb-94a4-dc253eaf3d4c.png)
So the only way to let the user select a folder is using electr

[2021-06-06 06:05] baruchiro commented on #155
Hi, thanks a lot!

I will look on it later. But since you wrote some code and you mention it, consider to open a PR so you will be able to comment on the code.

[2021-06-06 19:00] baruchiro commented on #155
I @baaraak !
First, I liked your change!

- You're right, we need to create a "nicer way" to register handlers on IPC. My approach is not to think too much about the future, since the code is always changing. Instead, I'm doing just one step forward.
 the only thing I can think about it right now is to create a dedicated file (or two) to register the event handlers, all of them in one place. And m

[2021-06-06 20:08] baaraak commented on #155
Great, thank you so much for the explanation... I will keep working on that and let you know.
BTW, I tested the `v-file-input` which render an input with a `type="file"`, this is not working as expected...
It's selecting all the files recursively from inside the selected directory
If you select you `Downloads` folder, the `e.target.files` will contain all the files that exist in `Downloads` folder

[2021-06-09 08:34] baaraak commented on #155
Hi, So I hope that I understood what you meant 😁, I create a PR you can take a lot...
I'm not sure that the handlers registration/initialization is what you meant but we still have 2 "bugs"

1. The user can't enter filePath manually, so basically it's mean that he can't control the generated filename the default is `'transaction.csv' || 'transaction.json'`.
It's ok with you? Also, when the dialog

[2021-06-11 10:23] baaraak commented on #137
Sure, no problem...
We are talking about this screen right?:
![Untitled](https://user-images.githubusercontent.com/16448454/121670793-81794880-cab6-11eb-9e05-1e582846c367.png)
I will take a look later and let you know if I have any question about how should I implement it

[2021-06-13 04:37] #247 closed

[2021-06-13 04:43] #155 closed

[2021-06-14 07:28] baruchiro opened #254 "Create an article about practical usage"
When you send the app/landing page to users, they maybe know the goal of the app, but they don't know what it can do exactly.

For example, what is the best exporter? What can I do with Google Sheets? How to create charts?

I plan to write a blog post about my flow

[2021-06-15 17:54] baruchiro commented on #146
How it works?
Explain about scraping, israeli-bank-scrapers etc

[2021-06-15 20:00] mynameisguy opened #257 "Missing credentials for scraper. CompanyId: hapoalim"
running version 0.2 on mac

when trying to scrape hapoalim I get this error:
```Missing credentials for scraper. CompanyId: hapoalim```

Importing from MAX works.

[2021-06-15 20:05] mynameisguy commented on #257
this might be since hapoalim credentials include **userCode** as username, and the code checks only for username, id and num:
https://github.com/brafdlog/hiuvi/blob/e47a54ac4a125342398f1b62c195efa6c7c29835/src/backend/import/bankScraper.ts#L27

[2021-06-16 06:59] baruchiro commented on #257
Thanks!
Added to [Milestone 2](https://github.com/brafdlog/hiuvi/milestone/3), if you are going to fix it yourself, please write here.

[2021-06-16 15:22] baruchiro opened #261 "Practical esporter"
For end-users, need to implement a practical exporter, something like YNAB but free.

In this [discussion](https://github.com/brafdlog/hiuvi/discussions/255) I will list and select the right exporter.

[2021-06-16 15:32] baruchiro opened #262 "Invalid Opening Quote: a quote is found inside a field at line 1"
From user:

![image](https://user-images.githubusercontent.com/17686879/122248214-9ac42f80-ced0-11eb-81f9-e104d0d63c36.png)

<p dir='rtl' align='right'>
"הוא פותח כרום, עושה login, נשאר שם שניה, עובר למזרחי באנגלית לדף לא קשור ונותן שגיאה."
</p>

[2021-06-16 15:32] baruchiro commented on #262
From a quick search, it seems like a problem with export to CSV.

[2021-06-16 18:00] sapir1472 opened #263 "היוש!"
מופיע לי שגיאה בכניסה לאתר לאומי ולמקס
מצרפת פרטים של השגיאה
![image](https://user-images.githubusercontent.com/63669066/122269294-b6860080-cee5-11eb-9519-39069fe80740.png)

![image](https://user-images.githubusercontent.com/63669066/122269327-c1d92c00-cee5-11eb-9064-7fb783ad3030.png)

כשעשיתי הצגה דרך הדפדפן, אז ראיתי מה הבעיה בדיוק (זה ממלא פרטים לא במקום הנכון, או לא לוחץ על כפתור הכניסה אחרי ש

[2021-06-17 04:50] baruchiro commented on #263
<div dir="rtl">
היי, תראי, קודם כל, המשיכה עצמה מתבצעת על ידי פרויקט אחר שאחראי נטו על משיכת הנתונים, וגם הוא דורש תחזוקה מהקהילה, כי לא לכולם יש חשבונות בנק באותו מקום ;-)

בכל מקרה, הבעיות האלו נראות כמו בעיות של אינטרנט איטי. יש מצב שאת גולשת מהפלאפון או משהו?
</div>

[2021-06-17 07:45] sapir1472 commented on #263
היי!
קודם כל חשוב לי להגיד אם זה לא היה ברור, שאני לא באה בטענות או ביקורת.
קראתי את הפוסט שלכם אתמול בסופרטולז וברור לי שאתם משקיעים בזה מזמנכם החופשי.
שלחתי את הנ"ל כי לא ראיתי שדיווחו על הבאגים האלה בשרשור באותו פוסט (בניגוד
לפועלים שכן היה שם).

אני גולשת מהמחשב, אבל ייתכן מאוד ואלו בעיות של מהירות אינטרנט. אני אנסה שוב
או ממקום אחר ואם זה יחזור על עצמו אעדכן.

שוב תודה על הכל :)

‫בתאריך יום

[2021-06-17 07:57] baruchiro commented on #263
הכל טוב, זה פשוט הסבר שאני מסביר לכולם בגלל שזה הולך לקרות הרבה. המנוע הזה לא יציב, אין מה לעשות, והרבה תלונות עליו יצטרכו לעבור הלאה

[2021-06-17 10:37] zavelevsky opened #264 "[SECURITY] Credentials are passed to a 3rd party library"
Code in question is [here](https://github.com/brafdlog/hiuvi/blob/e47a54ac4a125342398f1b62c195efa6c7c29835/src/backend/import/bankScraper.ts#L45):

The gist: there's a security weakness in passing the user's bank credentials over to a 3rd party code library.
This weakness should be fixed - and in the meantime it should be made clear to the users in the README.

Details:
User credentials are passed

[2021-06-17 14:51] sagilo opened #265 "Exported .csv is not saved as utf-8 encoding - Hebrew characters are shown as gibberish"
The csv file should be saved as UTF-8 otherwise Excel and other encoding sensitive applications may show gibberish instead of Henrew characters
See example:
![image](https://user-images.githubusercontent.com/5019344/122420719-8ea1a600-cf94-11eb-85a8-3e94ecb9d52b.png)

[2021-06-17 18:54] baruchiro commented on #265
Yes you're right. Meantime I remembered this and that for now you need to "import" the CSV to Excel using Excel Data tools.

Thank for your issue.

[2021-06-18 15:37] baruchiro opened #267 "Add snyk and maybe another security tool"
Users asked to add Snyk to monitor vulnerabilities in 3rd packages.

Also, since I'm working on Checkmarx, maybe I can get a license.

If not, I still think about writing a Semmle Query to make sure the credentials not passing outside (to the log or monitoring system, for example) without sanitizing.

[2021-06-18 15:42] baruchiro commented on #264
You're right, all those attach vectors are about someone who will change the code/package in `israeli-bank-scrapers`.

I think it can be solved in a more simple way. We need to create a checklist like that:

1. Review the change between the versions.
2. Make sure the current version in npm released by the [Github Action](https://github.com/eshaham/israeli-bank-scrapers/runs/2739732884?check_suite_

[2021-06-18 15:50] baruchiro commented on #154
Closed, it working

[2021-06-18 15:50] #154 closed

[2021-06-20 02:54] zavelevsky commented on #264
It's a step forward, indeed.
I don't think it solves the entire issue because, if you consider things from the end user's perspective, then she has no guarantee that reflects in your code - what you offer is a manual practice that takes place in the process of updating dependencies.
In my opinion the best solution will be to use the scrapers library in a way that doesn't provide them with actual a

[2021-06-21 06:23] #153 closed

[2021-06-21 16:49] jossef commented on #257
Same on windows
![image](https://user-images.githubusercontent.com/1287098/122798786-a6956480-d2c9-11eb-9208-640ce95b2f4a.png)

[2021-06-21 17:41] baruchiro commented on #257
Yes yes, I'm working on it. soon it will be fixed, I just waiting for the review.

You're welcome to review and write your opinion BTW here: #268

[2021-06-21 21:03] brafdlog commented on #264
This is a valid concern. There is a level of risk/trust in the current implementation that could be mitigated. Note that this trust issue still exists even if we implement the suggested solutions - it just moves from trusting israeli-bank-scrapers to trusting Baruch and myself. We could theoretically have the same bad intentions.
Our short term goal is to get the app out to users so we provide thi

[2021-06-21 21:04] brafdlog commented on #263
אין לי חשבון מקס אם לאומי אז קצת מורכב לבדוק את זה.

האם זה עדיין משתחזר?

[2021-06-21 21:08] brafdlog commented on #262
I tried running the scraper with mizrachi and csv export and could not reproduce.

@baruchiro Do we have any other input? If not I think we can close

[2021-06-21 21:31] brafdlog commented on #265
Stange. I checked, and the code that writes the file encodes with utf-8 (the default encoding for `fs.writeFile`.
Also when opening the file in notepad I see the Hebrew characters.
So this seems like an issue with excel opening csvs with unicode characters.

[2021-06-22 05:27] #257 closed

[2021-06-22 05:30] baruchiro commented on #140
Reopen: rename to כספיון
https://github.com/brafdlog/hiuvi/discussions/139#discussioncomment-885000

[2021-06-22 05:30] baruchiro commented on #103
Reopen: rename to כספיון
https://github.com/brafdlog/hiuvi/discussions/139#discussioncomment-885000

[2021-06-22 05:35] baruchiro commented on #263
אצלי לא

[2021-06-22 05:36] baruchiro commented on #262
I'm chatting with the user on FB, but we can't understand the problem.

I think we can keep it open for a while.

[2021-06-22 05:37] baruchiro commented on #265
The solution for this issue should be to solve the problem or write an explanation.

[2021-06-22 07:23] zavelevsky commented on #264
As you can see, I've opened an issue in hope that the israeli-bank-scrapers project will address this https://github.com/eshaham/israeli-bank-scrapers/issues/588

[2021-06-23 09:51] #103 closed

[2021-06-23 09:51] #140 closed

[2021-06-24 18:49] baruchiro commented on #146
Explain about the passwords and the risk

[2021-07-02 11:19] baruchiro commented on #254
Currently in draft: https://bscstudent.netlify.app/caspion

[2021-07-02 11:20] baruchiro commented on #261
Close: I think the Google Data Studio with the article in #254 is enough for now.

[2021-07-02 11:20] #261 closed

[2021-07-07 05:40] baruchiro commented on #254
Published

[2021-07-07 05:40] #254 closed

[2021-07-07 05:40] baruchiro commented on #265
Closed by #273

[2021-07-07 05:40] #265 closed

[2021-07-07 05:41] baruchiro commented on #262
Closed: Not reproduced.

[2021-07-07 05:41] #262 closed

[2021-07-08 04:16] #146 closed

[2021-07-12 04:29] baruchiro commented on #42
The third option we discussed is to identify the events that require us to retry- the timeout events, for example, and automatically retry the importer.

[2021-07-15 03:38] baruchiro commented on #33
@brafdlog Is it done?

[2021-07-15 03:40] baruchiro commented on #143
Hi, we have a complete Figma design to implement. If you want to help and get access to Figma, please contact.

[2021-07-15 03:41] baruchiro commented on #142
It will be redundant if we will implement #143

[2021-07-15 03:42] baruchiro commented on #102
@brafdlog There are no action items here, I think it can be close. See #143

[2021-07-25 13:29] tbendr opened #276 ""Caspion cannot be opened..." #MacOS #Big_Sur #M1"
# Caspion for mac
---
#### I downloaded "caspion-0.0.6-beta-mac.zip".
#### I get this error whenever I try to run the app on my M1 Mac Mini (macOS Big Sur).
#### Does Caspion support M1 chips?
--------------------------
![CleanShot 2021-07-25 at 16 14 19](https://user-images.githubusercontent.com/60432141/126900557-c2d2a4b1-5d16-43d9-8c52-5f8e0e7e1b58.png)

[2021-07-26 06:02] baruchiro commented on #276
@tbendr I have a new release to test on M1 before I will publish it. Do you want to try?

If so, please contact me inMail, it is a big file. baruchiro@gmail.com

[2021-07-28 08:20] baruchiro commented on #276
@tbendr I understand the artifact is working?

[2021-07-30 11:02] baruchiro commented on #276
Update: I created a "universal" artifact in #277, @tbendr tested it but now the `main` process loaded but there is no UI (`renderer process`). I'm waiting for the logs.

[2021-07-30 14:52] baruchiro opened #278 "Error: Attempted to register a second handler for 'showSaveDialog'"
From #276 logs, in Mac, if you close that app but Mac keeps it opened (don't understand this feature) we are getting this error:

[code]

[main.log](https://github.com/brafdlog/caspion/files/6908292/main.log)

[2021-09-18 18:05] asamarom opened #282 "Visa Cal importer error"
I tried to get Visa data and got an Importer error.

[2021-09-18 20:11] brafdlog commented on #282
Hi,
This is probably due to this bug  eshaham/israeli-bank-scrapers#602,
Once it is resolved, we will release another version

[2021-09-18 20:12] brafdlog commented on #263
בדקתי מאז את מקס ואצלי זה עבד. אני סוגר את זה ואם זה עדיין משתחזר מוזמנת לפתוח מחדש

[2021-09-18 20:12] #263 closed

[2021-09-18 20:13] #264 closed

[2021-09-22 13:58] baruchiro opened #284 "Google Sheets enabled even if not connected to Google"
If I left the application with Google Sheets enabled, and I opened it after a long time, I needed to re-authenticate with Google. I didn't do it, but still, the Google Sheets was enabled as exporter (and of course, it failed).

![image](https://user-images.githubusercontent.com/17686879/134357664-5d656818-3f87-400f-8beb-3a284370f902.png)

[2021-09-25 19:08] baruchiro opened #286 "Bump puppeteer-core from 5.5.0"
We can't upgrade `puppeteer-core` because its types are broken: https://github.com/puppeteer/puppeteer/issues/7100

I think we should try to find a solution, since the puppeteer is a core library in our project. Please see the attached issue in puppeteer to see potential solutions.

[2021-09-28 18:18] RoiSec opened #287 "Issue with Visa Cal integration"
Hi,
When I execute the integration with Visa CAL, I got two types of errors:

1. "invalid json response body at https://cal4u.cal-online.co.il/Cal4U/CardsByAccounts reason: Unexpected end of JSON input"

2. "unknown transaction type null"

When I repeat the action I see that "login success" and then I got the second error...

[2021-09-29 05:25] baruchiro commented on #287
It is a known bug, see #282. We are waiting for https://github.com/eshaham/israeli-bank-scrapers/issues/602 to be closed.

[2021-09-30 06:38] brafdlog commented on #287
Closing as duplicate. See #282

[2021-09-30 06:38] #287 closed

[2021-10-01 17:26] RoiSec opened #289 "Increase the period of feach from Isracard"
Hi,
Isracard's integration has a limit of - fetch of payment data only for the last year.
Is it possible that it will be for longer? Maybe have an issue with caspion that does not provide correct data to the scraper?

Thanks

[2021-10-03 08:26] baruchiro commented on #289
Most of the scrapers in [`israeli-bank-scrapers`](https://github.com/eshaham/israeli-bank-scrapers) limit their fetch to one year. You can see the Isracard code here:

https://github.com/eshaham/israeli-bank-scrapers/blob/7c6bc3e8e277ff123219b56ae3dcbfa822fffdd8/src/scrapers/base-isracard-amex.ts#L353-L355

First, check how long you can see your transactions on the Isracard website. If it's more t

[2021-10-03 12:17] RoiSec commented on #289
Yes, I have already changed the code for 3 years and it works.
But how are you cause Caspion to update this?

[2021-10-03 15:23] baruchiro commented on #289
We will merge the #285 and a new version will be available.

[2021-10-08 12:55] RoiNsec opened #291 "Automation for caspion"
Hi
I need assistance with how can I automate the process of fetching payment data.
For example: schedule task/script that will run every week .
There is option without run electron ?

[2021-10-19 19:38] RoiNsec commented on #282
There issue are fixed in Israel scraper repo..

[2021-10-20 12:02] asamarom opened #292 "israeli-bank-scrapers-1.5.0"
is it possible to update to israeli-bank-scrapers v1.5.0?
they solved an issue w/ Visa scraping there.

[2021-10-20 16:15] baruchiro commented on #292
Sure, do you want to open a PR?

[2021-10-20 16:46] asamarom commented on #292
@baruchiro I honestly don't know how to do it. I'd love to help but I only know some basic Python.

[2021-11-03 05:01] baruchiro commented on #114
Closing, it already implemented

[2021-11-03 05:01] #114 closed

[2021-11-03 05:07] baruchiro opened #297 "Auto Versioning and Releasing"
Using [`semantic-release`](https://semantic-release.gitbook.io), we can automatically produce a new version when, for example, pushing to a `release branch.

I think it requires some configuration, see my suggestions here:
https://dev.to/baruchiro/how-to-setup-auto-semantic-release-4fd8

One thing we need to decide is what will trigger the release.
In my article, pushing to the master will trigger

[2021-11-21 17:17] baruchiro commented on #267
Sonarqube, Codacy

[2021-11-21 17:17] #291 closed

[2021-12-04 12:24] sagilo opened #303 "Beinleumi fails to get data older than 54 days"
## Details

Tried to fetch data for the past 55 days from the Beinleumi Bank, but it fails with the following error:
Error: failed to find element matching selector ".main_balance"

Fetching 54 days or newer succeeds.

The bank website does allow going up to a year back, so I assume this is a scrapping issue

## Log
[code]
## System Info

 - Source Version: `e78dc819d8a10ec5f83355941a0a0a5e1da2a92

[2021-12-08 06:51] baruchiro commented on #303
Hi, I hope I will look at this soon, but since I don't have a Beinleumi account, probably my help will be limited.

Are you a developer? In any way, most of the time, bugs during the scraping process itself are related to the core library, and that library is maintained by people like us, who have an account in the relevant bank.
Please consider opening this issue there.
https://github.com/eshaham

[2021-12-18 12:01] UrielOfir opened #305 "Can't get inforamtion from Max credit card"
Error message:
Unknown transaction type כרטיס חליפי

[2021-12-22 05:20] baruchiro commented on #305
Most of the time, errors during the scraping process are related to the core library, https://github.com/eshaham/israeli-bank-scrapers/, since we just give the credentials to it and it returning the transactions for us.

You need to check if this error occurs on our side or their. How you can do that? By debugging...

To debug our app, you need to add the `debugger` where you want to debug, and lu

[2021-12-29 10:00] brafdlog opened #308 "Scraping stuck on loading when multiple importers of the same type are defined"
@Rea reported this.
Scenario:
Defined two visal cal importers and two isracard importers.
When scraping, one visa cal and one isracard stay stuck on in progress state
![image](https://user-images.githubusercontent.com/7272927/147650033-be643147-f8f9-4ec9-a254-24cddd399537.png)

[2021-12-29 12:18] ReaBar commented on #308
you mentioned the wrong rea ;)

[2021-12-30 07:43] baruchiro commented on #308
I still think there is a bug here. Usually, if there is an error, `CHANGE_PASSWORD` or `GENERIC`, it should display an error icon, don't remember how it looks like...

[2022-01-10 16:56] idanco1 opened #309 "Hapoalim Error Evaluation failed: TypeError: Failed to fetch"
Hi

I get an error from Poalim importer
![image](https://user-images.githubusercontent.com/72490001/148806078-cbbf6e49-c82a-4e10-ad36-b1d73a5fac2e.png)

Thanks

[2022-01-10 17:28] idanco1 commented on #309
Seems like Israeli Bank Scraper release a fix for that on 30/12
https://github.com/eshaham/israeli-bank-scrapers/issues/640

Is there a way to release a new version of Caspion that will use that latest israeli bank scrapers version ?

[2022-01-12 08:52] brafdlog commented on #309
Created a PR for this, once this is merge will create a new release

[2022-01-12 10:28] #309 closed

[2022-01-12 16:00] brafdlog commented on #309
@idanco1 try updating to `v0.0.13-beta`

[2022-01-13 06:50] idanco1 commented on #309
Thank you
@brafdlog

Where do i find the exe setup file ?

[2022-01-13 10:43] baruchiro commented on #309
@idanco1 You can update from your current installation, in the bottom left corner.
Also, you can download the latest version from our website: https://brafdlog.github.io/caspion/ (@brafdlog please add this URL to the repository "About" section")

And you can find the release here: https://github.com/brafdlog/caspion/releases/latest

[2022-01-13 11:25] idanco1 commented on #309
@baruchiro
Thanks
I might be missing something , but https://github.com/brafdlog/caspion/releases/latest does not include exe files like previous versions
and update from Caspion returns "error during update"

[2022-01-13 12:12] baruchiro commented on #309
Yes, we didn't publish the latest version correctly, I'm fixing it right now.

I have a plan to automate this process: #297

[2022-01-13 12:38] baruchiro commented on #309
@idanco1 Try now please

[2022-01-14 15:08] fabform commented on #284
Handy to [find google sheet id](https://fabform.io/a/how-to-find-google-sheet-id)

[2022-01-15 08:16] idanco1 commented on #309
Thanks ! @baruchiro
All working now

[2022-01-18 06:53] baruchiro opened #316 "Export - Cannot read property 'replace' of undefined"
From [Sentry](https://sentry.io/organizations/jonathan-wi/issues/2927389034/?project=5572536&query=is%3Aunresolved):

[code]

[2022-01-29 22:07] Moshet opened #317 "Error with Cal importer and missing transactions of the same charge with time proximity"
Hi,

I've noticed that a few transactions are missing in my export file. After investigating it, I understood that the missing transactions are ones of same charged amount and that took place shortly after another transaction in the same business:
1. 2 Bit transactions of the same amount, processed almost at the same time: only one of them is documented (happened on Amex, showed on Amex website as

[2022-01-30 09:28] baruchiro commented on #317
Hi, here is how we calculate the `hash` of transactions, and with this, we identify "duplicate" transactions:

https://github.com/brafdlog/caspion/blob/0eeaa39914313b9eeaaf53c1ed1e734141f57fce/src/backend/transactions/transactions.ts#L20

To support hash changes and failures, we process the hash with this function:

https://github.com/brafdlog/caspion/blob/0eeaa39914313b9eeaaf53c1ed1e734141f57fce/

[2022-02-01 11:54] Moshet commented on #317
The date is the same and time difference between the transactions is few seconds-few minutes

[2022-02-01 14:03] brafdlog commented on #317
In order to prevent duplicates, we use the data we have which is what @baruchiro showed.
If all these parameters are equal between two transactions I don't see a way to distinguish that from a duplicate transaction.
For cases where you know this happens, changing the memo/description of one transaction in the destination (google sheets/ynab) is a workaround.
If you have a suggestion on how to impl

[2022-02-06 06:17] RoiNsec commented on #183
Hi @baruchiro ,
There any expectations when caspion CLI will realease ?
Today, I need to open my computer manually and run Caspion .
I think this feature will levelup this tool .

[2022-02-06 06:45] baruchiro commented on #183
Sorry, there is no expectation for this feature.

We are looking for new contributors to join us to improve Caspion. If you know to write code, you are welcome to join, we will be here to help you to start. Join to our [discord channel](https://discord.gg/XWWg7xvJyS]

[2022-02-12 14:01] Moshet commented on #317
Every transaction has its own unique ID right? Maybe different transaction IDs can help distinguishing between different transaction. Distinguishing between transactions only by date and charged amount is basically incorrect.
If there's no such unique ID, then I suggest showing all transactions, even if they are suspiciously duplicated, because users would also like to know about duplicate transac

[2022-02-13 23:37] Innush commented on #248
I can't reproduce.
I did the following steps:
1. I created a new folder, selected it in the CSV path input, and saved it.
2. I deleted the folder.
3. Click on RUN.
Results:
I got the "no such file or directory".
<img width="1434" alt="Screen Shot 2022-02-13 at 18 31 19" src="https://user-images.githubusercontent.com/33602729/153780372-6cab39bf-33b0-4c06-9e5b-bd02f950c981.png">

After clicking outs

[2022-02-14 06:46] baruchiro commented on #248
Thanks @Innush!

Just one question- what if the YNAB is also not configured properly? Can you check if the issue is reproduced in such a case?

[2022-02-22 01:26] chainalert-bot opened #325 "ChainAlert: Dependency "lru-cache" version 7.4.0 has new "prepare" script"
[ChainAlert](https://github.com/Checkmarx/chainalert-github-action) has detected a new "prepare" script in lru-cache in one of your project's dependencies - a [suspicious new release](https://npmjs.com/package/lru-cache) of "lru-cache" version "7.4.0" on npm.
This script runs automatically upon installing the package.

`scripts` section from the package.json file of "lru-cache" version "7.4.0":
[c

[2022-02-22 06:18] #325 closed

[2022-03-31 05:36] RoiNsec opened #335 "Error import visa cal transaction"
Hi
I got every time timeout error .
"Navigation timeout of 30000 ms exceeded"
The issue was solved ,
The error occurs because I need to change the password.

[2022-03-31 11:13] baruchiro commented on #335
Hi, so now everything is working well?

[2022-03-31 11:16] RoiNsec commented on #335
Yes,
It would be nice for the app to throw in an error that needs a password change

[2022-03-31 12:17] baruchiro commented on #335
It should throw such, but possibly the website was changed and you need to contribute some code to update the scraper:

https://github.com/eshaham/israeli-bank-scrapers/blob/347d9b58974a71c256313552389914afc1bf5d8e/src/scrapers/visa-cal.ts#L78

[2022-03-31 12:17] #335 closed

[2022-05-05 21:41] bablat opened #345 "Debugging browser issues"
I'm using the AppImage linux executable, have been for a few weeks and things have been working well.
In the past few days the launched browsers can't seem to be able to reach the websites (although my machine is well connected), they all fail with "aw snap!" blank page, all scrapers return general errors. This happens with v17,v18,v19.

Log looks like this:
[code]
Is there a way for me to get mor

[2022-05-07 20:00] bablat commented on #345
Turns out the version of Chrome that was downloaded by Caspion was broken on my Ubuntu 22.04 LTS.
I replaced it with [this](https://download-chromium.appspot.com/) and now everything is back to normal.

[2022-05-07 20:00] #345 closed

[2022-05-23 14:29] RoiSec opened #346 "Issue for import VisaCal transaction"
Hi,
I got a failure for importing Visacal transactions.
I got a timeout error, when the "show browser" option the login page is stuck.

Thanks

[2022-05-29 06:39] hannanel100 commented on #276
is this issue being worked on? i tried to to install dependencies via yarn and got an error:
error /Users/hannanel/Documents/hannanel/caspion/node_modules/electron: Command failed.
Exit code: 1
Command: node install.js
Arguments:
Directory: /Users/hannanel/Documents/hannanel/caspion/node_modules/electron
Output:
HTTPError: Response code 404 (Not Found) for https://github.com/electron/electron/rele

[2022-05-29 07:47] baruchiro commented on #276
https://github.com/eshaham/israeli-bank-scrapers/issues/686

[2022-05-31 10:19] brafdlog commented on #346
Can you log in manually to the visa cal website with the same username/password?

[2022-05-31 17:01] RoiSec commented on #346
The problem solved, don't know what is it.

[2022-06-12 09:35] agammyshhay opened #351 "issue with FIBI importer"
hi,

import from FIBI doesnt work. this is the error message i get:
"waiting for selector `#matafLogoutLink` failed: timeout 30000ms exceeded"

i have no technical background, i will be very happy to help solve it, if someone will guide me

thanks !

[2022-06-12 12:45] baruchiro commented on #351
Hi, what is "FIBI"?

[2022-06-12 13:01] agammyshhay commented on #351
Hi,

sorry, its 'First International Bank Israel' - "habenleumi"

[2022-06-16 05:09] baruchiro commented on #351
I will first update Caspion with the new updates from `israeli-bank-scrapers`, then you'll check again.

[2022-06-16 10:15] agammyshhay commented on #351
Thanks a lot
let me know if i can help somehow

‫בתאריך יום ה׳, 16 ביוני 2022 ב-8:10 מאת ‪Baruch Odem (Rothkoff)‬‏ <‪
***@***.***‬‏>:‬

[2022-06-17 07:37] baruchiro commented on #351
Please check the new version now: https://github.com/brafdlog/caspion/releases/tag/v0.0.20-beta

[2022-06-17 12:13] agammyshhay commented on #351
Thanks

it didnt solve the problem, and it create a new problem in Visa Cal import:
[image: image.png]
its stuck like that all the time since i upgrade, and the whole import
process stuck with it:
[image: image.png]

‫בתאריך יום ו׳, 17 ביוני 2022 ב-10:38 מאת ‪Baruch Odem (Rothkoff)‬‏ <‪
***@***.***‬‏>:‬

[2022-06-19 06:08] baruchiro commented on #351
I can't see the screenshots, please comment from the Github interface :-)

[2022-06-19 09:54] agammyshhay commented on #351
Hi

its seems like the VIsa bug is gone  - so it doesnt mind (maybe it was temporary from Visa side), but the BENLEUMI bug is still here

Thank alot

[2022-06-20 05:57] baruchiro commented on #351
Issues during the scraping process are related to the `israeli-bank-scrapers` project, here is your issue there: https://github.com/eshaham/israeli-bank-scrapers/issues/691

[2022-06-20 05:57] #351 closed

[2022-06-20 09:09] agammyshhay opened #354 "bug - import stuck on "Terminating""
Hi,

the import is stuck on "Terminating" and never move forward to "importer end"  - it happened a lot in Visa import - sometime everything is fine, but then it reoccur - today its like this since 07:00AM for 6-7 retries.

Thanks

![image](https://user-images.githubusercontent.com/107346921/174567126-a56dbb61-ceac-4d5b-b33a-e73b0c0dc900.png)

[2022-06-20 10:13] baruchiro commented on #354
Thanks for reporting, I think it was also reported here by @agammyshhay: https://github.com/brafdlog/caspion/issues/351#issuecomment-1158811113.

Usually, errors in the import process are related and reported to the [`israeli-bank-scrapers`](https://github.com/eshaham/israeli-bank-scrapers) project. Still, here I'm not sure and we need to check if it is related to the library, or to Pupetter itsel

[2022-06-20 10:42] agammyshhay commented on #354
it was me :-) (i thought it was temporary bug, but now i see its happened alot
unfortunately i dont have technical skills....

[2022-06-22 10:34] agammyshhay opened #355 "Question: is there anyway to automate Caspion to run every day?"

[2022-06-22 10:34] agammyshhay commented on #355
sorry if its not the place to ask it
i am new to this kind of stuff

[2022-06-22 11:01] baruchiro commented on #355
You're welcome to join our [discort channel](https://discord.com/channels/924617301209260103/924617301209260106), I just answered there.

Currently, there is no way to run it automatically. We should implement a CLI to make it happen: #183, and we need help with that.

[2022-06-22 11:01] #355 closed

[2022-07-03 18:11] orentet opened #359 "upgrading to israeli-scrapers v1.14.3"
Hello.
There is a problem in cal, which was fixed in the latest version.

when are you planning to create a new version, and upgrade to this? as cal is currently not working.

[2022-07-03 19:06] brafdlog commented on #359
This version is already in master. Try the latest.
Visa cal worked for me after fix

[2022-07-03 19:06] #359 closed

[2022-07-03 19:33] orentet commented on #359
I mean an actual packaged version, not downloading source from master

3 Jul 2022 22:06:23 Jonathan ***@***.***>:

[2022-07-04 04:25] brafdlog commented on #359
I see what you mean, i didnt create a new production release.
Can you try the latest beta release (0.0.21-beta) from the releases page?
Verify that it works for you and then I will create an official release

[2022-07-04 06:28] baruchiro commented on #359
I will create a release after #360 #361

[2022-07-18 20:47] #289 closed

[2022-07-19 14:49] changecompassthe opened #362 "EROFS: read-only file system"
## Details

I got the error: EROFS: read-only file system, open 'transaction.csv'
## Log
[code]
## System Info

 - Source Version: `5994cb2d871fae918e9e010943c537d7a67ece61`
 - OS: `darwinx64`
 - OS Version: `22.0.0`

[2022-07-19 19:41] changecompassthe opened #363 "Import works only with one account"
But what to do if you have more than 1 one account in one bank?

[2022-07-20 05:58] baruchiro commented on #362
Hi, thank you for reporting!

It is not the first time I see this error on Mac, I think you should change the CSV file location, just click on the CSV file textbox and choose your desktop, for example.

You're welcome to join [our Discord channel](https://discord.gg/XWWg7xvJyS) to find people that already solved this.

[2022-07-20 06:00] baruchiro commented on #363
What error did you get?

I see someone opened similar issue before, but it was by mistake: https://github.com/brafdlog/caspion/issues/308

[2022-09-04 19:35] baruchiro commented on #297
@brafdlog I see a few options here:

- Work with `release` branch. When we will push the `master` branch into `release`, it will create a new version.
 Pros: contributors will continue to work against `master`.
 Cons: the `master` will not represent the Releases and the latest.
- Work with *Tags*, when we will add a tag, it will deploy a new release based on the *Tag* commit.
 Pros: It is a conven

[2022-09-06 04:54] baruchiro commented on #297
Meanwhile, I will publish each commit in `master` (except commits without the right commit message format).

I will do like in https://github.com/eshaham/israeli-bank-scrapers/blob/master/.github/workflows/release.yml

[2022-09-06 10:43] sk3pp3r opened #370 "Google Chrome block download"
![image](https://user-images.githubusercontent.com/15815967/188614932-f50124f8-d664-4ece-871d-7d8c93367050.png)

Google Chrome block download

[2022-09-06 11:00] baruchiro commented on #370
You should click on the arrow and select "keep".

https://www.addictivetips.com/web/fix-this-file-is-not-commonly-downloaded-and-may-be-dangerous-error-in-chrome/#:~:text=fix%20%E2%80%98file%20is%20not%20commonly%20downloaded%20and%20may%20be%20dangerous%E2%80%99

[2022-09-06 11:08] baruchiro commented on #370
@sk3pp3r You are welcome to join our discord channel: https://discord.gg/XWWg7xvJyS

[2022-09-06 11:08] #370 closed

[2022-09-17 21:39] Serghiny opened #374 "git clone https://github.com/thelinuxchoice/blackeye"

[2022-09-18 05:35] baruchiro commented on #374
SPAM

[2022-09-18 05:35] #374 closed

[2022-09-18 05:36] #297 closed

[2022-09-19 13:18] shahar4499 opened #375 "Import from Leumi is failing due to login page changes. Can be fixed by updating israeli-bank-scrapers version"
When trying to import from Leumi, it fails in the login page since it can't find the selector `#wtr_uid`.
I see that Israeli-bank-scrapers just did a fix for the latest breaking changes in the login page, including this:
https://github.com/eshaham/israeli-bank-scrapers/commit/962e0b40d545b6f48035b5e1826826dc6e91647a

So I believe just re-building and using the latest version of Israeli-bank-scrape

[2022-09-20 10:24] shahar4499 commented on #375
Tested the branch of the fix, and it seems there's another issue (in israeli-bank-scrapers).
Posted the issue there: https://github.com/eshaham/israeli-bank-scrapers/issues/722#issue-1379176160

[2022-10-12 13:18] mbrevda opened #381 "Export to ofx"
Would be great to see the ability to export to `.ofx`. This would help unlock the majority of financial applications and make using them with Israeli banks much simpler. Thanks!

[2022-10-13 07:31] baruchiro commented on #381
Thanks! Can you explain more about `ofx`?

[2022-10-13 07:37] mbrevda commented on #381
It's a common format that desktop apps & banks use. For example, Quicken can automatically download data from most US banks. But if your bank isn't supported by they offer ofx exports, you can import the data to Quicken.

[2022-10-15 17:27] baruchiro commented on #381
@mbrevda I see you're a JS developer, do you want to implement it here?

[2022-10-16 12:23] baruchiro commented on #276
@hannanel100 @tbendr Please check https://github.com/brafdlog/caspion/releases/tag/v0.2.0 if it works on your M1.

[2022-10-18 09:37] tbendr commented on #276
It does, Thanks!!

To open it you need to:
1. Download the .dmg file
2. open it and drag Caspion to the Application folder
3. Go to Application folder
4. Right click on Caspion, then "Open"
5. You will get a warning message about unverified developer -- Click "Cancel"
6. Go to System Preferences > Security & Privacy > General tab > click to lock on the left bottom corner and type your mac password

[2022-10-18 16:13] baruchiro commented on #276
Thanks @tbendr!

I will add it to the README file.

[2022-10-18 16:16] baruchiro commented on #276
Closed by #378

[2022-10-21 09:04] #375 closed

[2022-10-21 09:07] #282 closed

[2022-10-25 18:01] brafdlog opened #389 "Logs icon not visible in ynab after scraping ended"
While scraping the log icon is available:
<img width="206" alt="Screen Shot 2022-10-25 at 21 01 03" src="https://user-images.githubusercontent.com/7272927/197848005-eb1bac9c-1e0f-453f-b97f-0ba7f8322546.png">

But when scraping is finished, only the settings icon is available:
<img width="215" alt="Screen Shot 2022-10-25 at 21 00 57" src="https://user-images.githubusercontent.com/7272927/197848061-

[2022-10-25 18:05] brafdlog commented on #308
Closing unless we get validation in react UI that this is still an issue

[2022-10-25 18:05] #308 closed

[2022-10-25 18:06] brafdlog commented on #363
@changecompassthe does this work in the new UI? Please try the latest release and tell me if it works for you.
Closing for now, feel free to reopen if reproduces

[2022-10-25 18:06] #363 closed

[2022-10-25 18:07] brafdlog commented on #362
CSV export works for me, if this is still an issue please reopen

[2022-10-25 18:08] brafdlog commented on #354
@agammyshhay  is this still happening? If so we will need some more data to reproduce. Feel free to reopen

[2022-10-25 18:09] #354 closed

[2022-10-25 18:09] brafdlog commented on #316
@baruchiro  is this still relevant?

[2022-10-25 18:10] brafdlog commented on #305
I am using max successfully. Please reopen if still have an issue

[2022-10-25 18:10] #305 closed

[2022-10-25 18:11] brafdlog commented on #136
Fixed in new UI

[2022-10-25 18:11] #136 closed

[2022-10-25 18:12] brafdlog commented on #143
Implemented in new UI

[2022-10-25 18:12] #143 closed

[2022-10-26 06:43] baruchiro commented on #316
Its look familiar, maybe I sew it lately.

But if I can't remember- close it, it means that the information is missing here.

[2022-10-26 06:43] #316 closed

[2022-10-28 04:15] #389 closed

[2022-11-27 20:38] ShiranAbir opened #399 "Max logo ratio is incorrect"
![WhatsApp Image 2022-11-27 at 17 57 29](https://user-images.githubusercontent.com/106183696/204158240-b6e43e71-0148-4015-8f47-f117e54b9cfa.jpg)

The Max logo got messed up because it doesn't load the correct image.

[2022-11-28 07:50] #399 closed

[2022-11-30 18:50] ShiranAbir opened #401 "Overlapping controls"
When adding multiple card providers, the controls and text can overlap the cards as shown below:
![Screenshot_20221130_125923](https://user-images.githubusercontent.com/106183696/204883274-cd0d6bf3-80a0-4c8e-9ef9-4884496978ba.png)

[2022-11-30 18:54] ShiranAbir commented on #401
While I was trying a fix, I learned that the controls are `React-Bootstrap` controls.
Searching the affected `Stack` controller, it seems that the previous gap ({5}) is the biggest builtin-gap possible:
https://react-bootstrap.github.io/layout/stack/#:~:text=Sets%20the%20spacing%20between%20each%20item.%20Valid%20values%20are%200%2D5.

This required me to creat a custom gap CSS class which will ha